# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/
reasoners/__pycache__
reasoners/algorithm/__pycache__
reasoners/__pycache__/__init__.cpython-310.pyc
reasoners/__pycache__/base.cpython-310.pyc
reasoners/visualization/__pycache__/tree_snapshot.cpython-310.pyc
reasoners/benchmark/__pycache__/prontoqa.cpython-310.pyc
reasoners/algorithm/__pycache__/dfs.cpython-310.pyc
./logs
reasoners/__pycache__/__init__.cpython-310.pyc
reasoners/__pycache__/base.cpython-310.pyc
reasoners/algorithm/__pycache__/__init__.cpython-310.pyc
reasoners/algorithm/__pycache__/beam_search.cpython-310.pyc
reasoners/algorithm/__pycache__/dfs.cpython-310.pyc
reasoners/algorithm/__pycache__/greedy.cpython-310.pyc
reasoners/algorithm/__pycache__/mcts.cpython-310.pyc
reasoners/algorithm/__pycache__/random.cpython-310.pyc
reasoners/benchmark/__pycache__/__init__.cpython-310.pyc
reasoners/benchmark/__pycache__/blocksworld.cpython-310.pyc
reasoners/benchmark/__pycache__/aqua.cpython-310.pyc
reasoners/benchmark/__pycache__/bw_utils.cpython-310.pyc
reasoners/benchmark/__pycache__/gsm8k.cpython-310.pyc
reasoners/benchmark/__pycache__/prontoqa.cpython-310.pyc
reasoners/lm/__pycache__/__init__.cpython-310.pyc
reasoners/lm/__pycache__/anthropic_model.cpython-310.pyc
reasoners/lm/__pycache__/exllama_model.cpython-310.pyc
reasoners/lm/__pycache__/gemini_model.cpython-310.pyc
reasoners/lm/__pycache__/hf_model.cpython-310.pyc
reasoners/lm/__pycache__/llama_2_model.cpython-310.pyc
reasoners/lm/__pycache__/llama_3_model.cpython-310.pyc
reasoners/lm/__pycache__/llama_cpp_model.cpython-310.pyc
reasoners/lm/__pycache__/llama_model.cpython-310.pyc
reasoners/lm/__pycache__/openai_model.cpython-310.pyc
reasoners/visualization/__pycache__/__init__.cpython-310.pyc
reasoners/visualization/__pycache__/__main__.cpython-310.pyc
reasoners/visualization/__pycache__/tree_log.cpython-310.pyc
reasoners/visualization/__pycache__/tree_snapshot.cpython-310.pyc
reasoners/visualization/__pycache__/visualizer_client.cpython-310.pyc
reasoners/visualization/__pycache__/visualizer_client.cpython-310.pyc
reasoners/benchmark/__pycache__/__init__.cpython-310.pyc
models/
planner_tools/
logs/*
LLMs-Planning/
sys2bench.egg-info